#!/bin/sh
source .profile
setbg &
ibus-daemon -drx &
pcmanfm -d &
sxhkd &
compton &
unclutter &
dunst &
mpdupdate &
blueman-applet &
openrazer-daemon &
lxqt-policykit-agent &
light-locker &
nm-applet &
remaps
setres
